.ToursBG {
  background-image: url(../../../public/backgroundImages/background-tours.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
  background-color: blue;
  font-family: quicksand;
}

.lightFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 300px;
  text-align: center;

  h3 {
    margin-bottom: 25px;
    color: white;
  }
}

.pTag {
  width: 550px;
  height: 100px;
  margin: 30px 100px 0 320px;
  color: white;
}

.square {
  cursor: pointer;
}

.zoom_in_out_box {
  width: 200px;
  height: 200px;
  transition: transform 0.5s;
  cursor: pointer;
}

.zoom_in_out_box:hover{
  transform: scale(1.3);
  filter: drop-shadow(0 0 30px rgb(255, 255, 255));
}


